.home-services {
  width: 100%;
  padding: 64px 0;

  .container {
    display: grid;
    gap: 64px;
  }
}

.home-services-text {
  grid-row: 1;
}

.home-services-buttons {
  display: flex;
  gap: 16px;
}

.home-services-wrapper {
  display: grid;
  gap: 32px;
}
