.footer {
  position: relative;

  padding: 128px 0 32px;

  overflow: hidden;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 5%;
    left: 50%;

    width: 150%;
    height: 150%;

    background-color: #F1F3FC;
    transform: translate3d(-50%, 0, 0) rotate(-5deg);
    z-index: -1;
  }

  .container {
    display: grid;
    gap: 32px;
  }
}

@import './form';
