.footer-form {
  width: 100%;

  form {
    display: grid;
    gap: 16px;

    label {
      color: $darkPurple;
      font-size: 1rem;
      font-weight: bold;
    }

    input:not([type="submit"]),
    textarea {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      height: 40px;
      padding: 8px 16px;

      background-color: transparent;
      border: none;
      border-bottom: 2px solid $darkPurple;

      color: $darkPurple;
      font-size: 1rem;
      
      &::placeholder {
        opacity: 0.6;
        color: $darkPurple;
      }
    }

    input[type="submit"] {
      min-width: 160px;
      display: inline-block;
      padding: 8px 32px;

      background-color: $darkPurple;
      border: 2px solid $darkPurple;
      border-radius: 8px;
      transition: .3s background-color, .3s color;

      color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-align: center;

      &:hover {
        background-color: transparent;
        color: $darkPurple;
      }
    }
  }
}
